.decorate-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  
    .photo-area {
      position: relative;
      top: 10%;
      width: 100%;
      height: 80%;
      background: #010101;
      display: flex;
      //margin-bottom: 20px;
    }
  
    .button-container {
      position: relative;
      z-index: 100;
      margin-top: 55%;
  
      .finish-button {
        width: 83px;
        height: auto;
        cursor: pointer;
      }
    }
  
    .modal-container {
      width: 100%;
      max-width: 300px;
      background-color: #333;
      transition: max-height 0.3s ease-in-out;
      position: relative;
      overflow: hidden;
      border-radius: 20px; 
      &.closed {
        max-height: 20px; //패널이 숨겨졌을 때 20px 보이도록 설정
      }
  
      &.open {
        max-height: 300px; // 적절한 최대 높이 값으로 설정 
      }
  
      .modal {
        padding: 10px;
      }
    }
  
    .toggle-modal-button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      margin-bottom: 10px; /* 여백 추가 */
  
      .updown-img {
        width: 30px;
        height: 30px;
        display: block;
      }
    }
  }
  