.decorate-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  min-height: 50vh;
  position: relative;

  .deco_line {
    color: var(--Sub-Text, #858490);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3vh;

    @media (min-width: 1024px) {
      margin-top: 4vh;
    }
  }

  .photo-area {
    position: relative;
    //background-color: #070707; 
    //width: 80vw; 
    max-width: 1000px !important; 
    padding-top: 50px;
    padding-bottom: 15px;
    display: flex;
    height: auto !important;
    max-height: 100% !important;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    @media (min-width: 1024px) {
      transform: scale(0.7);
      margin-bottom: 0;
    }

    img {
      width: auto;
      max-width: 100%; 
      height: auto; 
      max-height: 100%; 
      //margin-top: -60px;
      display: block; 
    }
  }

  .resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    cursor: nwse-resize;
  }

  .bottom-right {
    bottom: 0;
    right: 0;
  }

  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border: none;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  .photo-area > div:hover .delete-button {
    display: flex; // Show delete button on hover
    opacity: 1;
  }

    .sticker-panel {
      padding-left: 20px;
      padding-right: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, minmax(100px, auto));
      gap: 15px;
      margin-top: 32px;
      justify-content: center;
  
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
  
      .sticker-one {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        border-radius: 8px;
        background: var(--Dark-Gray, #242227);
        object-fit: cover;
        // /* 이미지 비율 유지하며 크기 조정 */
        padding: 15px;
        box-sizing: border-box;
        /* 패딩 포함한 박스 크기 설정 */
  
      }
    }

  
    .button-container {
      position: relative;
      z-index: 100;
      margin-top: 20%;
  
      .finish-button {
        width: 83px;
        height: auto;
        cursor: pointer;
      }
    }
  
    // 스티커 들어가는 모달
.modal-container {
  position: fixed;
  bottom: -280px;
  left: 0;
  width: 100%;
  height: 300px;
  transition: bottom 0.3s;
  background-color: #1A1A1C;

    &.open {
      bottom: 0;
      width: 100%;
      height: 541px;
    }

    .modal {
      position: relative;
      overflow: hidden;
      border-radius: 20px; /* 모서리를 둥글게 만듭니다 */
  
      &.closed {
        max-height: 20px; /* 패널이 숨겨졌을 때 20px 보이도록 설정 */
      }
  
      &.open {
        max-height: 300px; /* 적절한 최대 높이 값으로 설정 */
      }

      .modal {
        width: 375px;
      }
    }
  }

  .toggle-modal-button {
    position: absolute;
    top: -71.5px;
    left: 50%;
    width: 100%;
    height: 92px;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 32px 32px 0px 0px;
    border-top: 2px solid var(--Mid-Purple, #403365);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: var(--Black, #1A1A1C);
  }

  .updown-img {
    cursor: pointer;
    width: 42px;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 31px;
  }
}
