body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(149deg, #141315 48.9%, #252428 100.11%);
  color: #fff;
}

#root {
  width: 100%;
  max-width: 480px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(149deg, #141315 48.9%, #252428 100.11%);
}

.container {
  width: 100%;
  //max-width: 100%;
  //margin: auto;
  padding: 10px;
  box-sizing: border-box;
  //background: linear-gradient(149deg, #141315 48.9%, #252428 100.11%);
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 390px) {
  .container {
    max-width: 390px;
  }
}

@media (min-width: 430px) {
  .container {
    max-width: 430px;
  }
}

.main-view {
  text-align: center;
}


.decorate-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;

  .photo-area {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: auto;
    //border: 10px solid white;
    //background-color: white;
    //margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .sticker-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top:20px;
    /* 스티커 패널을 사진 아래로 이동 */

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      margin: 10px;
    }
  }
  .sticker-panel2{
    gap: 100px;
    // background-color: #222;
    padding: 10px;
    border-radius: 10px;
    margin-top:20px;
    background-color: #222;
  }

  .bottom-bar {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;

    button {
      width: 100px;
      height: 40px;
      border-radius: 20px;
      border: none;
      font-size: 16px;
    }

    .home-button {
      background-color: #f2b14c;
    }

    .download-button {
      background-color: #7d49f2;
      color: white;
    }
  }
}

// 스티커 들어가는 모달
.modal-container {
  position: fixed;
  bottom: -280px;
  left: 0;
  width: 100%;
  height: 300px;
  transition: bottom 0.3s;

  &.open {
    bottom: 0;
    width: 100%;
    height: 541px;
  }
}

/* Modal 기본 스타일 */
.modal {
  position: relative;
  width: 100%;
  height: 541px;
  background-color: #1A1A1C;
  z-index: 1;
}


/* Toggle 버튼 스타일 */
.toggle-modal-button {
  position: absolute;
  top: -71.5px;
  left: 50%;
  width: 100%;
  height: 92px;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 32px 32px 0px 0px;
  border-top: 2px solid var(--Mid-Purple, #403365);
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: var(--Black, #1A1A1C);
}

.updown-img {
  cursor: pointer;
  width: 42px;
  height: 47px;
  margin-top: 13px;
  margin-bottom: 31px;

}